@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aldrich|Domine|Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    border-radius: 40px;
    height: 10px;
    background: linear-gradient(rgb(255, 71, 105), rgb(255, 50, 50));
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(184, 37, 37);
}
nav.transparentNav{
    background-color: rgba(0, 0, 0, 0.8);
}
nav {
    position: fixed !important;
    z-index: 2;
    width: 100%;
    /* top: 0; */
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
    background-color: rgba(0, 0, 0, 1);
    /* padding: 8px 0; */
    transition: top 0.3s linear;
}


.nav-item {
    margin: 12px !important;
    position: relative;
    font-style: italic;
}

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: rgb(206, 206, 206);
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
}

.nav-icons {
    height: 20px;
    width: 20px;
}

.nav-link:hover:before,
.nav-link:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

.nav-link {
    color: #f0f1f3;
    padding: 0 !important;
}

.nav-link:hover,
.list-inline-item:hover a,
.list-unstyled li:hover a {
    color: rgb(180, 0, 0);
}

.nav-link:hover span {
    color: rgb(180, 0, 0);
}

.nav-link span {
    color: red;
}

#car-icon {
    height: 26px;
    padding: 0 4px;
    color: white;
}

#logo {
    height: 3vw;
    min-height: 30px;
}

#amu-logo {
    position: absolute;
    right: 12px;
    cursor: pointer;
}

#amu-logo img {
    height: 3vw;
    min-height: 40px;
}

.navbar-toggler {
    border-color: white;
    outline: none;
}
button:focus{
    outline: none !important;
}

.navbar-toggler-icon {
    color: white;
    height: 20px;
    width: 20px;
}

.nav-link {
    padding: 0;
}

body {
    width: 100%;
}

#navbarNav li {
    margin: -8px 16px;
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 600;
}

footer {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    background-color: #343a40;
    color: white;
}

.font-weight-bold {
    color: crimson;
    text-shadow: rgb(47, 17, 17) 1px 1px;
}

footer a {
    color: white;
}

.row h5 div {
    width: fit-content;
    transition: 300ms;
}

.row h5 {
    position: relative;
}

.row h5 div:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    visibility: hidden;
    background-color: white;
    transform: scaleX(0);
    transition: 300ms;
}

.row div:nth-child(2n-1):hover h5 div:before {
    visibility: visible;
    transform: scaleX(1);
}

.row div:nth-child(2n-1):hover h5>div {
    transform: scale(1.1) translateY(10px);

}


#donation {
    position: absolute;
    right: 80px;
}

#contain {
    margin: 0;
    padding: 0;
}

#developer>a{
    color: crimson;
    text-decoration: none;
}

#social-buttons li a img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 20px 0;
}

#social-buttons li a img:hover {
    box-shadow: 0 0 20px -2px rgb(26, 26, 26);
    transform: scale(1.05);
}

.navbar-toggler {
    position: absolute;
    right: 10px;
    top: 0;
}

@media screen and (max-width: 991px) {
    #donation {
        position: static !important;
    }

    #amu-logo {
        margin-right: 50%;
        left: 46%;
        top: 0;
    }
}